@using Microsoft.AspNet.Identity
@model AirPro.Site.Models.Account.LoginViewModel
@{
}

@if (User.Identity.IsAuthenticated)
{
    ViewBag.Title = "Logged In";

    <h2 style="margin-bottom: 20px;">@ViewBag.Title</h2>

    <div class="alert alert-success" style="margin-top: 10px;">
        <strong>You are currently logged in as: @User.Identity.GetUserName()</strong>
        <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();" class="btn btn-sm btn-warning pull-right" style="position: relative; bottom: 5px;">Log Off</a>
    </div>
}
else
{
    ViewBag.Title = "Login";

    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/jqueryval/js")

        <script type="text/javascript">
            $(document)
                .ready(function () {
                    $('#Email').focus();
                });
        </script>
    }
}
