@using AirPro.Common.Enumerations
@using AirPro.Site.Helpers

@{
    ViewBag.Title = "Insurance Company Administration";
}

<h2>@ViewBag.Title</h2>

<style type="text/css">
    .tab-pane {
        padding-top: 10px;
    }

    .dataGrid {
        margin-top: 10px;
    }

    .bootgrid-header {
        margin: 0;
    }

        .bootgrid-header .actionBar {
            padding: 0;
        }

    .panel-heading {
        padding: 5px 10px;
    }

    .panel-title {
        margin: 2px;
        font-size: 20px;
    }

        .panel-title > .btn {
            color: black;
        }

    .dropdown-item {
        color: black;
    }

    a.column-header-anchor {
        color: gray !important;
        text-decoration: none;
    }

    td.text-left > ul {
        padding-left: 10px;
    }

    @@media screen and (max-width: 991px) {
        .bootgrid-header .actionBar {
            text-align: left !important;
        }

        .panel-heading #gridSearch,
        .panel-heading #addNew {
            padding-top: 4px;
        }
    }
</style>

<div id="manageBody">
    <div id="insuranceCompanies" class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <h4 class="panel-title">
                        <span style="position: relative; top: 2px;">Company Administration</span>
                    </h4>
                </div>
                <div class="col-md-1 col-lg-2" id="addNew">
                    @AddButton("manageInsuranceCompany();", "Company", ApplicationRoles.InsuranceCoAdmin.ToString())
                </div>
                <div class="col-md-7" id="gridSearch">
                </div>
            </div>
        </div>
        <table id="insuranceCompanies-grid" class="table table-condensed table-hover table-striped" data-toggle="bootgrid" data-ajax="true">
            <thead>
                <tr>
                    <th data-column-id="insuranceCompanyId" data-identifier="true" data-visible="true" data-visible-in-selection="true" data-width="120" data-sortable="false">Company Id</th>
                    <th data-column-id="insuranceCompanyName" data-sortable="true">Company Name</th>
                    <th data-column-id="programName" data-sortable="true">Program Name</th>
                    <th data-column-id="cccInsuranceCompanyId" data-sortable="true" data-visible="false">Company Ccc</th>
                    <th data-column-id="disabledInd" data-sortable="true" data-converter="bool" data-align="center"  data-width="85">Disabled</th>
                    <th data-column-id="editType" data-visible-in-selection="false" data-formatter="editType" data-sortable="false" data-align="center" data-width="45"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manageModal" tabindex="-1" role="dialog" aria-labelledby="manageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @Html.DisableOnAjax(DisableButtonType.Dismiss, string.Empty)><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="manageModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="manageModalBody">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" @Html.DisableOnAjax(DisableButtonType.Cancel, "Close")>Close</button>
                <button type="submit" onclick="postModal();" class="btn btn-primary" @Html.DisableOnAjax(DisableButtonType.Submit, "Save")>Save</button>
            </div>
        </div>
    </div>
</div>

@helper AddButton(string function, string type, string role)
{
    if (User.IsInRole(role))
    {
        <a onclick="@function" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add @type</a>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#insuranceCompanies-grid-header').appendTo('#gridSearch');
            $('.panel-heading .btn-group').addClass('btn-group-sm');
            $('.panel-heading .input-group').addClass('input-group-sm');

            moveActionMenu();
            $(window).resize(moveActionMenu);
        });

        $("#insuranceCompanies-grid").bootgrid({
            url: '@Url.Action("GetCompaniesByPage")',
            multiSort: true,
            formatters: {
                "editType": function(column, row) {
                    return editButtonFormat("InsuranceCompany", row.insuranceCompanyId);
                }
            },
            converters: {
                bool: {
                    to: function (value) {
                        return value
                            ? "<i class='glyphicon glyphicon-ok-circle' style='color: green;'></i>"
                            : "<i class='glyphicon glyphicon-remove-circle' style='color: red;'></i>";
                    }
                }
            }
        });

        function moveActionMenu() {
            var menu = $('.actionBar .actions');
            if (menu && $(menu).offset().left < 27) {
                $(menu).find('.dropdown-menu.pull-right').removeClass('pull-right').addClass('pull-left');
            } else {
                $(menu).find('.dropdown-menu.pull-left').removeClass('pull-left').addClass('pull-right');
            }
        }

        function editButtonFormat(func, id) {
            return "<div class='btn-group btn-group-sm' role='group'><a onclick = 'manage" + func + "(\"" + id + "\");' class='btn btn-warning'><i class='glyphicon glyphicon-edit'></i></a></div>";
        }

        function manageInsuranceCompany(insuranceCompanyId) {
            displayModal('Insurance Company');
            var url = '@Url.Action("ManageCompany", "InsuranceCompanies")/' +
                ((insuranceCompanyId) ? insuranceCompanyId : '');
            loadModal(url);
        }

        function refreshInsuranceCompanies() {
            $('#insuranceCompanies-grid').bootgrid("reload");
        }

        function displayModal(title) {
            $('#manageModalLabel').text('Manage ' + title);
            $('#manageModal').modal('show');
        }

        function loadModal(url) {
            $.get(url,
                    function(data) {
                        $('#manageModalBody').html(data);
                    })
                .fail(function(err) {
                    console.log(err.message);
                    alert('There was an error contacting the server, please refresh the page and try again.');
                    $('#manageModal').modal('hide');
                });
        }

        function postModal() {
            var form = $('#manageModalBody > form');
            $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize()
                })
                .done(function(data) {
                    $('#manageModalBody').html(data);
                })
                .fail(function(err) {
                    console.log(err.message);
                    alert('There was an error contacting the server, please refresh the page and try again.');
                    $('#manageModal').modal('hide');
                });
        }

        function updateComplete(html) {
            $('#manageBody').prepend(html);
            $('#manageBody > .alert').fadeTo(3000, 500).slideUp(500, function () {
                $('#manageBody > .alert').slideUp(500);
                $('#manageBody > .alert').remove();
            });
            $('#manageModal').modal('hide');
        }
    </script>
}
